$fourImageCarousel: 4 * $carousel-img-width + 3 * $carousel-gap;
$threeImageCarousel: 3 * $carousel-img-width + 2 * $carousel-gap;
$oneImageCarousel: $carousel-img-width;

.history {
  height: 130vh;
  width: 100%;
  background-image: url(../assets/history-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  padding-top: 65px;

  @include iPad {
    padding-top: 35px;
  }

  @include mobile {
    padding-top: 20px;
  }
  
  &__paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $text-color;
    position: relative;
    left: 80px;
    width: 90%;

    @include mobile {
      left: 35px;
      width: 90%;
    }
  }

  &__carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: rgba(65, 79, 107, 0.7);
  }

  &__carousel-wrapper {
    overflow: hidden;
    width: $fourImageCarousel;

    @include iPad {
      width: $threeImageCarousel;
    }
    @include mobile {
      width: $oneImageCarousel;
    }
  }

  &__carousel-slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: $carousel-gap;
    transition: all 0.9s;

    img {
      width: $carousel-img-width;
      height: $carousel-img-height;
    }
  }

  &__carousel-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  &__carousel-nav-item {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #b0b4be;
    margin-right: 14px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: #fff;
    }
  }


}