.section-header {
  position: relative;
  font-family: 'Oswald', sans-serif;
  display: inline;

  @include mobile {
    margin-bottom: 10px;
  }

  &__number {
    font-size: 154px;
    color: $header-color-1;
    opacity: 0.5;
    line-height: 1;

    @include iPad {
      font-size: 110px;
    }

    @include mobile {
      font-size: 75px;
    }
  }

  &__title {
    font-size: 44px;
    color: $header-color-1;
    position: relative;
    top: -35px;
    left: -35px;

    @include mobile {
      font-size: 30px;
      top: -16px;
      left: -19px;
    }
  }
}