html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, g, ul, li, fieldset, form, label, section, button {
  border: none;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1279.99px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url("header-mountains.1bcdcab3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top-menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  display: flex;
}

.header__logo-img {
  display: block;
}

.header__list {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__list-item {
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__list-item-link {
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
}

.header__list-item-link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  display: block;
}

.header__list-item-link:hover:after {
  animation: hover-menu-link .5s ease-in-out;
}

@keyframes hover-menu-link {
  0% {
    width: 100%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.sticky-nav {
  padding: 10px 0;
}

.sticky-nav__menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sticky-nav__logo-link {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.sticky-nav__logo-img {
  margin-right: 10px;
  display: block;
}

.sticky-nav__name-wrapper {
  justify-content: center;
  align-items: left;
  flex-direction: column;
  display: flex;
  position: relative;
  top: 3px;
}

.sticky-nav__name-1row {
  color: #4d4d4d;
  font-family: Bebas Neue, sans-serif;
  font-size: 23px;
  line-height: .9;
}

.sticky-nav__name-2row {
  color: #414f6b;
  font-family: Bebas Neue, sans-serif;
  font-size: 25px;
  line-height: .9;
}

.sticky-nav__list {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.sticky-nav__list-item {
  margin-right: 40px;
}

.sticky-nav__list-item:last-child {
  margin-right: 0;
}

.sticky-nav__list-item-link {
  color: #414f6b;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

.sticky-nav__list-item-link:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #414f6b;
  border-radius: 5px;
  display: block;
}

.sticky-nav__list-item-link:hover:after {
  animation: hover-menu-link .5s ease-in-out;
}

.history {
  height: 130vh;
  width: 100%;
  background-image: url("history-section.0c2aaa75.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  position: relative;
}

.history__paragraph {
  color: #15181b;
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: relative;
  left: 80px;
}

.history__carousel {
  height: 200px;
  width: 100%;
  background: #414f6bb3;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
}

.history__carousel-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.history__carousel-wrapper img {
  margin-right: 10px;
}

.history__carousel-wrapper img:last-child {
  margin-right: 0;
}

.history__carousel-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.history__carousel-nav-item {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 14px;
}

.history__carousel-nav-item:last-child {
  margin-right: 0;
}

.section-header {
  font-family: Oswald, sans-serif;
  display: inline;
  position: relative;
}

.section-header__number {
  color: #414f6b;
  opacity: .5;
  font-size: 154px;
  line-height: 1;
}

.section-header__title {
  color: #414f6b;
  font-size: 44px;
  position: relative;
  top: -35px;
  left: -35px;
}

.team__header-wrapper {
  z-index: -1;
  grid-template-columns: 350px auto;
  align-items: center;
  padding: 20px 0 30px;
  display: grid;
  position: relative;
}

.team__text {
  color: #15181b;
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: relative;
  left: -40px;
}

.team__nav {
  background-color: #414f6b;
}

.team__nav-list {
  justify-content: left;
  align-items: center;
  display: flex;
}

.team__nav-list-item-link {
  color: #b0b4be;
  cursor: pointer;
  padding: 10px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.team__nav-list-item-link:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b0b4be;
  border-radius: 5px;
  display: block;
}

.team__nav-list-item-link:hover {
  color: #414f6b;
  background-color: #b0b4be;
}

.team__nav-list-item-link:hover:after {
  background-color: #414f6b;
  animation: hover-menu-link .5s ease-in-out;
}

.team__tab1 {
  height: 80vh;
  background-image: url("mountain-tab1.16a219d2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.team__tab1-schedule {
  position: absolute;
  top: 100px;
}

.schedule {
  width: 330px;
  height: 220px;
  background-color: #ffffffbf;
  padding: 10px 20px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.schedule__header {
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
}

.schedule__date {
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  display: flex;
}

.schedule__date--extra-padding {
  padding-bottom: 25px;
}

.footer {
  color: #63769d;
  background-color: #414f6b;
  padding: 10px 0;
}

.footer__wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer__logo-link {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.footer__logo-img {
  margin-right: 10px;
  display: block;
}

.footer__name-wrapper {
  justify-content: center;
  align-items: left;
  flex-direction: column;
  display: flex;
  position: relative;
  top: 3px;
}

.footer__name-1row {
  color: #63769d;
  font-family: Bebas Neue, sans-serif;
  font-size: 23px;
  line-height: .9;
}

.footer__name-2row {
  color: #63769d;
  font-family: Bebas Neue, sans-serif;
  font-size: 25px;
  line-height: .9;
}

.footer__copyright {
  color: #63769d;
  letter-spacing: 1.2px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
